.btn-warning,
.btn-outline-warning {
  border: 1px solid $light !important;
  color: $light !important;
}
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 74px;
  background: $primary;
  box-shadow: 0 0 14px -8px $primary;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a.logo {
      text-decoration: none;
      font-size: 1.25rem;
      color: $light;
      text-transform: uppercase;
      &:hover {
        perspective: 100px;
        transform: scaleY(1.35);
      }
    }
    ul.list {
      margin-bottom: 0 !important;
      list-style-type: none;
      height: 100%;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $light;
          font-weight: 500;
          text-decoration: wavy line-through transparent;
          &:hover {
            text-decoration: wavy line-through var(--bs-primary);
          }
        }
      }
    }
    .btn {
      border-width: 2px;
      font-weight: 500;
    }
  }
}
#Page404 {
  padding: 0;
  min-height: 100vh;
  background: $primary;
  .container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  header {
    border-radius: 50px;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: auto;
    margin-top: 1.5rem;
    border: 3px dashed $light;
    font-weight: 600;
    font-size: 1.5rem;
    color: $light;
    text-align: center;
  }
  h1 {
    font-weight: 600;
    line-height: 100%;
    font-size: 2.75rem;
    letter-spacing: 1px;
    -webkit-text-stroke: 2px $light;
    color: transparent;
    margin-bottom: 1rem;
  }
  a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    color: $light;
    font-weight: 500;
    margin-bottom: auto;
    padding: 0 1rem;
    text-decoration: none;
    border: 3px solid $light;
    border-radius: 50px;
    transition: background 300ms ease-in-out;
    &:hover {
      background: rgba($light, 0.2);
      i {
        margin-left: 1rem;
      }
    }
    i {
      margin-left: 0.65rem;
      transition: margin 300ms ease-in-out;
    }
  }
}
