main#pageLogin {
  background: $light;
  .container {
    height: calc(100vh - 68px - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    section {
      &.form {
        max-width: 350px;
        p {
          font-weight: 500;
          color: rgba($textColor, 0.75);
        }
      }
    }
  }
}
